.container.games {
    background: none;
	padding: 0;
    width: 540px;
}

.container.create {
    color: white;
    padding: 5px 10px 10px 10px;
	width: 520px;
	margin-bottom: 20px;
}

.game {
    margin: 10px 0;
    border-radius: 3px;
    padding: 10px;
	text-align: left;
	color: white;
	background-color: #333;
}

.faction-container {
    color: black;
    height: 40px;
}

.faction {
	float: left;
    border-radius: 2px;
    margin: 5px;
    padding: 10px;
	text-align: center;
	width: 100px;
	height: 20px;
}

.isca {
	background-color: blue;
}

.galaxycorp {
	background-color: green;
}

.fsr {
	background-color: white;
}

.privateer {
	background-color: red;
}

.selected {
    font-weight: bold;
    -moz-box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0px 0px 10px #fff;
}
