.container.game {
	width: 800px;
}

.game {
	text-align: left;
}

.faction {
	float:left;
	text-align: center;
	width: 200px;
	height: 200px;
}

.isca {
	background-color: blue;
}

.galaxycorp {
	background-color: green;
}

.fsr {
	background-color: white;
}

.privateer {
	background-color: red;
}