.container.game {
	width: 730px;
}

.container.create {
    color: white;
	width: 730px;
	margin-bottom: 20px;
}

.game {
	text-align: left;
	color:white;
	background-color:gray;
}

.faction-container {
    color: black;
    height: 170px;
}

.faction {
	float: left;
    border-radius: 2px;
    margin: 5px;
    padding: 10px;
	text-align: center;
	width: 150px;
	height: 150px;
}

.isca {
	background-color: blue;
}

.galaxycorp {
	background-color: green;
}

.fsr {
	background-color: white;
}

.privateer {
	background-color: red;
}

.selected {
    color: yellow;
    font-weight: bold;
    -moz-box-shadow: 0 0 10px #fff;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0px 0px 10px #fff;
}
