<!DOCTYPE html>
<html>
	<head>
		<title>Interstellar Age</title>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/static/js/three.min.js"></script>
	</head>

	<body>
	</body>

	<script type="text/javascript">
		var gameId = {{ game.unique }};
	</script>
	<script src="/static/js/keycodes.js"></script>
	<script src="/static/js/orders.js"></script>
	<script src="/static/js/stellar.js"></script>
	<script src="/static/js/iagui.js"></script>
	<script src="/static/js/game.js"></script>
</html>