<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
		<title>Interstellar Age - Game</title>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	</head>

	<body>
		<div class="container lobby">
		<h1>{{ game.name }}</h1>
		Playing this game:
		<ul>
		{% for player in game.players %}
			<li>{{ player.user.username }} as {{ player.faction_shortname() }}.</li>
		{%- endfor %}
		</ul>
		{% if not joined %}
			<input type="text" id="password" placeholder="Join Password..."></input>
			<select id="faction">
				<option value="0">ISCA</option>
				<option value="1">GalaxyCorp</option>
				<option value="2">FSR</option>
				<option value="3">Mercs</option>
			</select>
			<div class="button" id="join">Join</div>
		{% elif is_creator %}
			You are going to play as {{ game.faction_shortname_for_user(user) }}.
            <br/><br/>
			<div class="button" id="start">Start Game</div>
		{% elif joined %}
			You have joined this game as {{ game.faction_shortname_for_user(user) }}. Waiting for game creator to start.
		{%- endif %}
		</div>
	</body>

	{% if not joined %}
		<script type="text/javascript">
		$(document).ready(function () {
			$("#join").click(function () {
				var faction = $("#faction").val();
				
				$.ajax({
					type : 'POST',
					url : '/game/join/{{ game.unique }}',
					data : {
						faction : faction,
						join_code : $("#password").val()
					},
					success : function(fromServer) {
						// Refresh the page
						window.location = window.location;
					}
				});
			});
		});
		</script>
	{% elif is_creator %}
		<script type="text/javascript">
		$(document).ready(function () {
			$("#start").click(function () {
				$.ajax({
					type : 'POST',
					url : '/game/start/{{ game.unique }}',
					success : function(fromServer) {
						window.location = window.location;
					}
				});
			});
		});
		</script>
	{% elif joined %}
	{%- endif %}
</html>
