<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
		<title>Interstellar Age - Login</title>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	</head>

	<body>
        <h1>Interstellar Age</h1>
		<div class="container login">
			<div class="alert" id="error" style="display:none;"></div>

			<input type="text" name="username" placeholder="username" id="username"></input>
			<input type="password" name="password" placeholder="password" id="password"></input>

			<div class="button" id="login">Login</div>
            <a href="register">
			    <div class="button" id="noaccount">I don't have an account</div>
            </a>
		</div>
	</body>

	<script type="text/javascript">
		$(document).ready(function () {
			var displayFailure = function (failure) {
                $("div.alert#error").text(failure);
				$("div.alert#error").show();
			};

			/* When the user clicks the "login" button. */
			$('div.button#login').click(function () {
				/* Get form data. */
				var username = $("#username").val();
				var password = $("#password").val();

				/* Send the login request. */
				$.ajax({
					type:'POST',
					url:'/login',
					data:{
						'username' : username,
						'password' : password,
					},
					success: function(fromServer) {
                        if (fromServer == "success")
                            window.location = window.location;
                        else
                            displayFailure(fromServer);
					},
					error: function(jqXHR, textStatus, errorThrown) {
						/* Inform the user why he/she failed. */
						displayFailure("Please try again");
					}
				});
			});
		});
	</script>
</html>
