<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
		<title>Interstellar Age - Create Account</title>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	</head>

	<body>
        <h1>Create New Account</h1>
		<div class="container-register">
			<div class="alert" id="error"></div>
            <form id="registerForm" method="POST" action="{{ url_for('register') }}">
            {{ form.csrf_token }}
            <table>
                <tr>
                    <td>Username</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>Password (&gt;= 8 characters)</td>
                    <td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td>{{ form.confirm_password }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ form.email }}</td>
                </tr>
            </table>
            <br>
                {% if form.errors %}
                    {% for field_errors in form.errors.values() %}
                        {% for error in field_errors %}
                            <div class="alert">{{ error }}</div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </ul>
            <br>
            <input class="button" type="submit" value="Create Account">
            </form>
        </div>
	</body>
</html>
